/* 메인 배너 */
.main_banner .main_slide .con{
	position: relative;
}
.main_banner .main_slide{
	overflow: hidden;
	position: relative;
}
.main_banner .main_slide a{
	width: 100%;
}
.main_banner .main_slide a.md{
	background-color: #EEE9E3;
}
.main_banner .main_slide a.manage{
	background-color: #000000;
	color: white;
}
.main_banner .main_slide a.brand{
	background-color: #FF4848;
	color: white;
}
.main_banner .main_slide a.olive{
	background-color: #0F7C5C;
	color: white;
}
.main_banner .main_slide a.mac{
	background-color: #FAFAFA;
}
.main_banner .main_slide a.service{
	background-color: #486EF5;
	color: white;
}
.main_banner .main_slide img{
	margin: 0 0 0 auto;
	display: block;
}
.main_banner .main_slide h2{
	font-size: 48px;
	padding-top: 25px;
	font-weight: 500;
}
.main_banner .main_slide h3{
	font-size: 23px;
}
.main_banner .main_slide .r_keyword{
	padding-top: 20px;
	display: flex;
	align-items: center;
	gap: 15px;
}
.main_banner .main_slide .r_keyword span{
	padding: 5px 15px;
	border: 1px solid white;
	border-radius: 20px;
}
.main_banner .main_slide .banner_title{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.main_banner .main_slide .slide_btn_inn{
	position: absolute;
    width: 1440px;
    top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	z-index: 10;
}
.main_banner .main_slide .slide_btn_inn .btn::after{
	color: white;
}
.main_banner .main_slide .slide_btn_inn .btn.black::after{
	color: black;
}

/* 메인 탭슬라이드 */
.main_tab_slide .con{
	padding-top: 30px;
	padding-bottom: 30px;
}
.main_tab_slide .tab_btn{
	overflow: hidden;
}
.main_tab_slide .tab_btn .swiper-wrapper{
	justify-content: center;
}
.main_tab_slide .tab_btn .swiper-slide{
	width: auto;
	position: relative;
	transition: color 0.1s;
}
.main_tab_slide .tab_btn .swiper-slide::after{
	content: '';
    position: absolute;
    bottom: -8px;
    left: -2px;
    width: 0;
    height: 7px;
    background: linear-gradient(90deg, rgba(245,160,160,1) 0%, rgba(240,18,25,0.4768032212885154) 28%, rgba(214,31,37,1) 100%);
    /* transform: rotate(-2deg); */
	border-radius: 5px 10px 10px 5px;
}
.main_tab_slide .tab_btn .swiper-slide.active_tab:after{
	width: calc(100% + 6px);
	transition: width 0.2s;
}
.main_tab_slide .tab_btn button{
	font-size: 18px;
	transition: 0.1s;
}
.main_tab_slide .tab_btn .swiper-slide.active_tab button{
	background: linear-gradient(to right, #fd343b, #c3141b);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 500;
}
.main_tab_slide .tab_btn .swiper-slide.active_tab button::before{
	content: attr(title);
	display: block;
	height: 0px;
	visibility: hidden;
}
.main_tab_slide .tab_con{
	padding-top: 30px;
	overflow: hidden;
}
.main_tab_slide .tab_con .swiper-slide{
	height: 652px;
}
.main_tab_slide .tab_con .hit{
	display: grid;
	grid-template-columns: repeat(3,1fr);
    gap: 20px 15px;
}
.main_tab_slide .hit .item{
	display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #EEEEEE;
    border-radius: 5px;
	transition: 0.2s;
}
.main_tab_slide .hit .item:hover{
	border-color: var(--m_c);
	box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.05);
}
.main_tab_slide .hit .item a{
	padding: 20px;
	width: 100%;
	position: relative;
}
.main_tab_slide .hit .img_inn{
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	height: 178px;
}
.main_tab_slide .hit .img_inn img{
	transition: 0.2s;
	height: 100%;
}
.main_tab_slide .hit .item:hover .img_inn img{
	transform: scale(1.08);
}
.main_tab_slide .hit .ctg{
	/* background-color: var(--m_c); */
	/* color: white; */
	margin-top: 13px;
	border: 1px solid var(--m_c);
	color: var(--m_c);
	font-weight: 500;
    font-size: 13px;
    padding: 4px 10px;
    border-radius: 20px;
}
.main_tab_slide .hit .con_title{
	font-size: 18px;
	font-weight: 500;
	padding-top: 10px;
}
.main_tab_slide .hit .sub_txt{
	padding-top: 5px;
	color: #4b4b4b;
}
.main_tab_slide .hit .cart{
	position: absolute;
	right: 20px;
	bottom: 20px;
	border: 1px solid #d7d6d6;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
}
.main_tab_slide .hit .cart:hover{
	background-color: #edf0f3;
	border-color: transparent;
}
.main_tab_slide .tab_con .today{
	padding: 28px;
	background-color: #edf0f3;
	border-radius: 4px;
}
.main_tab_slide .today .con_title{
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: 500;
}
.main_tab_slide .today .con_title b{
	color: white;
	background-color: black;
	padding: 0px 15px;
	border-radius: 30px;
	margin-right: 10px;
	height: 45px;
	display: inline-block;
	line-height: 44px;
}
.main_tab_slide .today .con_title span{
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	font-weight: 700;
	/* color: #d61f25; */
}
.main_tab_slide .today .con_sub_title{
    font-size: 19px;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
	color: #4b4b4b;
}
.main_tab_slide .today .con_sub_title b{
	font-weight: 600;
	color: #000000;
}
.main_tab_slide .today .item_inn{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 25px; 
}
.main_tab_slide .today .img_inn{
	height: 225px;
	overflow: hidden;
}
.main_tab_slide .today .img_inn img{
	height: 100%;
	border-radius: 4px;
	transition: 0.2s;
}
.main_tab_slide .today .item:hover .img_inn img{
	transform: scale(1.04);
}
.main_tab_slide .today .item{
	display: flex;
	gap: 20px;
	background-color: white;
	align-items: center;
	border: 1px solid #dddddd;
	border-radius: 5px;
}
.main_tab_slide .today .prd_title_inn{
	flex: 1;
	height: fit-content;
}
.main_tab_slide .today .item:hover .prd_title,
.main_tab_slide .today .item:hover .prd_title .brand{
	text-decoration: underline;
}
.main_tab_slide .tab_con .service{
	display: flex;
	justify-content: space-between;
	gap: 40px;
	height: 100%;
}
.main_tab_slide .tab_con .service .item{
	display: flex;
	align-items: center;
	flex-direction: column;
	flex: 1;
	border-radius: 10px;
	padding-bottom: 55px;
    padding-top: 100px;
}
.main_tab_slide .tab_con .service .free{
	background: linear-gradient(to bottom, #E0D0C1, #F0E9DF);
}
.main_tab_slide .tab_con .service .new{
	background: linear-gradient(to bottom, #b1b1b1, #ECECEC);
}
.main_tab_slide .tab_con .service .refur{
	background: linear-gradient(to bottom, #76706A 6%, #918A83 25%, #A29A92, #B2A9A0);
}
.main_tab_slide .tab_con .service .img_inn{
	flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
	padding-bottom: 20px;
}
.main_tab_slide .tab_con .service h4{
    font-size: 25px;
    font-weight: 500;
	padding-bottom: 20px;
}
/* 취향저격 상품 리스트 */
.main_recom_list .con{
	padding: 30px 0;
}
.main_recom_list h4{
	font-size: 30px;
	text-align: center;
}
.main_recom_list .tab_title_inn{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main_recom_list .tab_title_inn .tab_btn{
	display: flex;
	align-items: center;
	gap: 10px;
	padding-bottom: 30px;
}
.main_recom_list .tab_title_inn .tab_btn button{
	padding: 0 14px;
	background-color: #ECECEC;
    height: 32px;
	line-height: 31px;
	border-radius: 19px;
	transition: 0.1s;
	font-size: 14px;

	background-color: white;
	color: #727272;
	border: 1px solid #727272;
}
.main_recom_list .tab_title_inn .tab_btn button:hover{
	color: var(--m_c);

	/* background-color: var(--m_c);
	color: white;
	border-color: var(--m_c); */
	color: var(--m_c);
	border-color: var(--m_c);
}
.main_recom_list .tab_title_inn .tab_btn button.active{
	background-color: var(--m_c);
	color: white;
	border-color: var(--m_c);
}
.main_recom_list .tab_con .list{
	display: flex;
	gap: 30px;
	display: none;
}
.main_recom_list .tab_con .list.active{
	display: flex;
}
.main_recom_list .tab_con .prd_item{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	gap: 23px;
}
.main_recom_list .tab_con .prd_item .img_inn{
	height: 220px;
	width: 100%;
	border: 1px solid transparent;
	display: flex;
	justify-content: center;
}
.main_recom_list .tab_con .prd_item .img_inn img{
	height: 100%;
}
.main_recom_list .tab_con .prd_item:hover .prd_title,
.main_recom_list .tab_con .prd_item:hover .prd_title .brand{
	text-decoration: underline;
}
.main_recom_list .tab_con .prd_item:hover .img_inn{
	border-color: var(--m_c);
}


/* HIT & 단독 */
/* 상단 슬라이드(상품 나열)  */

/* 오늘의 추전 */
/* 원데이 핫딜(카운트 다운) */


/* HI Service */
/* 장기 무이자, 창고대개방, 리퍼마켓, 홈서비스, 이전 설치, 스마트픽, 2시간퀵배송 */



/* 내 맞춤 추천, 연관 상품 추천, 장바구니에 많이 담긴 상품, 많이 주문한 상품 */


/* TV/pc/mobile */

/* 주방가전 */

/* 리빙가전 */


/* 카테고리 탭으로 해서 밑에 슬라이드 */
/* 지금은 왼쪽고정으로 해서 카테고리 보여줌 */


/* 오른쪽 하단 고정 */
/* 하트톡, 희망가 견적, 탑버튼 */



/* 삼닷페스타연말결산 */
/* 새로운 갤럭시 */
/* 12월의 특별 혜택 */
/* 삼닷번개특가 */
/* samsung Experience */