/* 메인 배너 */
.main_banner .main_slide .con{
	position: relative;
}
.main_banner .main_slide{
	overflow: hidden;
	position: relative;
}
.main_banner .main_slide a{
	width: 100%;
}
.main_banner .main_slide a.md{
	background-color: #EEE9E3;
}
.main_banner .main_slide a.manage{
	background-color: #000000;
	color: white;
}
.main_banner .main_slide a.brand{
	background-color: #FF4848;
	color: white;
}
.main_banner .main_slide a.olive{
	background-color: #0F7C5C;
	color: white;
}
.main_banner .main_slide a.mac{
	background-color: #FAFAFA;
}
.main_banner .main_slide a.service{
	background-color: #486EF5;
	color: white;
}
.main_banner .main_slide img{
	margin: 0 0 0 auto;
	display: block;
}
.main_banner .main_slide h2{
	font-size: 48px;
	padding-top: 25px;
	font-weight: 500;
}
.main_banner .main_slide h3{
	font-size: 23px;
}
.main_banner .main_slide .r_keyword{
	padding-top: 20px;
	display: flex;
	align-items: center;
	gap: 15px;
}
.main_banner .main_slide .r_keyword span{
	padding: 5px 15px;
	border: 1px solid white;
	border-radius: 20px;
}
.main_banner .main_slide .banner_title{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.main_banner .main_slide .slide_btn_inn{
	position: absolute;
    width: 1440px;
    top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
	z-index: 10;
}

/* 메인 탭슬라이드 */
.main_tab_slide .con{
	padding-top: 30px;
	padding-bottom: 30px;
}
.main_tab_slide .tab_btn{
	overflow: hidden;
}
.main_tab_slide .tab_btn .swiper-wrapper{
	justify-content: center;
}
.main_tab_slide .tab_btn .swiper-slide{
	width: auto;
	position: relative;
	transition: color 0.1s;
}
.main_tab_slide .tab_btn .swiper-slide::after{
	content: '';
    position: absolute;
    bottom: -8px;
    left: -2px;
    width: 0;
    height: 7px;
    background: linear-gradient(90deg, rgba(245,160,160,1) 0%, rgba(240,18,25,0.4768032212885154) 28%, rgba(214,31,37,1) 100%);
    transform: rotate(-2deg);
	border-radius: 5px 10px 10px 5px;
}
.main_tab_slide .tab_btn .swiper-slide.active:after{
	width: calc(100% + 6px);
	transition: width 0.2s;
}
.main_tab_slide .tab_btn button{
	font-size: 18px;
	transition: 0.1s;
}
.main_tab_slide .tab_btn .swiper-slide.active button{
	background: linear-gradient(to right, #fd343b, #c3141b);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 500;
}
.main_tab_slide .tab_btn .swiper-slide.active button::before{
	content: attr(title);
	display: block;
	height: 0px;
	visibility: hidden;
}
.main_tab_slide .tab_con{
	padding-top: 30px;
	overflow: hidden;
}
.main_tab_slide .tab_con .hit{
	display: grid;
	grid-template-columns: repeat(3,1fr);
    gap: 20px 15px;
}
.main_tab_slide .tab_con .hit .item{
	display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #EEEEEE;
    border-radius: 5px;
	transition: 0.2s;
}
.main_tab_slide .tab_con .hit .item:hover{
	border-color: var(--m_c);
	box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.05);
}
.main_tab_slide .tab_con .hit .item a{
	padding: 20px;
	width: 100%;
}
.main_tab_slide .tab_con .hit .img_inn{
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}
.main_tab_slide .tab_con .hit img{
	transition: 0.2s;
}
.main_tab_slide .tab_con .hit .item:hover img{
	transform: scale(1.08);
}
.main_tab_slide .tab_con .hit .ctg{
	/* background-color: var(--m_c); */
	/* color: white; */
	margin-top: 13px;
	border: 1px solid var(--m_c);
	color: var(--m_c);
	font-weight: 500;
    font-size: 13px;
    padding: 4px 10px;
    border-radius: 20px;
}
.main_tab_slide .tab_con .hit .con_title{
	font-size: 18px;
	font-weight: 500;
	padding-top: 10px;
}
.main_tab_slide .tab_con .hit .sub_txt{
	padding-top: 5px;
	color: #4b4b4b;
}

/* HIT & 단독 */
/* 상단 슬라이드(상품 나열)  */

/* 오늘의 추전 */
/* 원데이 핫딜(카운트 다운) */


/* HI Service */
/* 장기 무이자, 창고대개방, 리퍼마켓, 홈서비스, 이전 설치, 스마트픽, 2시간퀵배송 */



/* 내 맞춤 추천, 연관 상품 추천, 장바구니에 많이 담긴 상품, 많이 주문한 상품 */


/* TV/pc/mobile */

/* 주방가전 */

/* 리빙가전 */


/* 카테고리 탭으로 해서 밑에 슬라이드 */
/* 지금은 왼쪽고정으로 해서 카테고리 보여줌 */


/* 오른쪽 하단 고정 */
/* 하트톡, 희망가 견적, 탑버튼 */



/* 삼닷페스타연말결산 */
/* 새로운 갤럭시 */
/* 12월의 특별 혜택 */
/* 삼닷번개특가 */
/* samsung Experience */